multitenancy_enabled: false

server:
  http_listen_port: 9009
  log_level: info

distributor:
  pool:
    health_check_ingesters: true

ingester_client:
  grpc_client_config:
    max_recv_msg_size: 104857600
    max_send_msg_size: 104857600

ingester:
  ring:
    final_sleep: 0s
    num_tokens: 512
    replication_factor: 1
    kvstore:
      store: inmemory

blocks_storage:
  backend: filesystem
  tsdb:
    dir: /data/ingester
  bucket_store:
    sync_dir: /data/querier
  filesystem:
    dir: /data/blocks

compactor:
  data_dir: /data/compactor
  compaction_interval: 30m
  deletion_delay: 2h
  cleanup_interval: 15m

frontend:
  log_queries_longer_than: 10s

ruler_storage:
  backend: filesystem
  filesystem:
    dir: /data/ruler

limits:
  ingestion_rate: 50000
  ingestion_burst_size: 100000
  max_global_series_per_user: 0
  max_global_series_per_metric: 0
